
@{
    Layout = null;
}

@{
    //
}


<form method="post" action="/Account/Register/" enctype="multipart/form-data">

    <label>Şifre</label>
    <input type="password" id="password" name="Password"/>

    <label>Kullanıcı adı</label>
    <input type="text" id="Name" name="UserName" />

    <input type="file" name="ProfileImage"/>

    <button type="submit" class="btn btn-danger">Kayıt ol </button>

</form>